
/* Giving the body the specified background color */
body {
  background-color: #f7efefde;
}

/* adding font sizes for the h1 and h3 elements we'll be using */
h2 {
  /* font-size: 80px; */
  color: #0ebedd; 
}

h3 {
  color: #0ebedd;
}

h4 {
  color: #0ebedd;
  text-align: center;
}

image {
  /* 
    Center a block element in the middle of its enclosing tag.
    When you use the "auto" rule on both left and right margins, 
    your browser will do the math necessary to center a block element.
    */
  margin-left: auto;
  margin-right: auto;
  /* Block display (more on this later) */
  display: block;
}

/* Giving our navbar some padding and a background color */
.navbar-brand {
  /* padding: 10px; */
  background: #0ebedd;
  color: rgb(95, 11, 11);
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: visible;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #0ebedd;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h2 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

.header h4 {
  padding: 20px;
  margin: 0;
  color: #cdcdcd;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

#nav-select {
  visibility: hidden;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  
  .navbar-brand {
    background: red;
    color: rgb(255, 255, 255);
  }

  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }

  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
}
